nav a:link {
    color: rgb(223, 255, 223);
    background-color: transparent;
    text-decoration: none;
}

nav a:visited {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: none;
}

nav a:hover {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: underline;
}

nav a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}