/* Basic link color */
a {
    color: #ffffff;
    /* Any color code you want */
}

/* Different states of links */
a:link {
    color: #ffffff;
    /* Color for unvisited links */
}

a:visited {
    color: #ffffff;
    /* Color for visited links */
}

a:hover {
    color: #338128;
    /* Color when mouse hovers over link */
}

a:active {
    color: #baffc6;
    /* Color when link is clicked */
}

/* If you want to style only navigation links */
nav a {
    color: #007bff;
}

/* Remove underline */
nav a {
    color: #007bff;
    text-decoration: none;
}

/* Add underline only on hover */
nav a:hover {
    color: #0056b3;
    text-decoration: underline;
}

.collapsible {
    /* Change button appearance */
    background-color: #618367;
    padding: 18px;
    font-size: 15px;
}

.collapsible-content {
    /* Change content appearance */
    padding: 0 18px;
    background-color: white;
}